<div class="lv-head">
    <div class="left">
      <a href="/" class="logo">手机后台管理系统</a>
    </div>
    <div class="right">
      <p>欢迎你---xx管理员</p>
      <div class="btn btn-success">退出</div>
    </div>
  </div>